<html>
    <head>
            <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles2.css') }}">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
            <script>
                    $(document).ready(function(){ 
                        $('#email').blur(function() {
                                var email = $('#email').val()
                                var username = email.split("@")
                                $('#username').val(username[0]);
                        });
                        
                    });
            </script>
    </head>
    <body>
            <div class=mainbody2>
                    
            </div>
    </body>
</html>